* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--background-primary);

    font-family: 'Poppins', sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.2rem;
}


.title {
    font-size: 20px;
    font-weight: 700;

    color: var(--text-primary);
}

.subtitle {
    font-size: 16px;
    font-weight: 400;

    color: var(--text-secondary);
}

.browser-wrapper {
    position: absolute;

    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 100%;
    height: 100%;
}
